<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="action-bar btn btn-block">
                <button mat-raised-button class="add-product-btn" (click)="onAddProduct()">
                    +     Add Product
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let product of productsArr">

            <mat-card class="h-100">
                <img mat-card-image [src]="product.image" [alt]="product.name">
                <mat-card-header>
                    <mat-card-title>{{ product.name }}</mat-card-title>
                    <mat-card-subtitle>{{ product.category }}</mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                    <p>{{ product.description }}</p>

                    <p><strong>Price:</strong> ₹{{ product.price }}</p>
                    <p><strong>Rating:</strong> ⭐ {{ product.rating }}</p>
                    <p><strong>Stock:</strong> {{ product.stock }}</p>
                </mat-card-content>

                <mat-card-actions align="end" class="d-flex justify-content-between">
                    <button mat-raised-button color="primary">
                        Edit
                    </button>
                    <button mat-raised-button color="accent">
                        Remove
                    </button>
                </mat-card-actions>

            </mat-card>
        </div>
    </div>
</div>